<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalManagement.Properties.Settings.hospitalConnectionString"
            connectionString="Data Source=DESKTOP-1NR34J4\SQLEXPRESS;Initial Catalog=hospital;Integrated Security=True;TrustServerCertificate=True;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>